body {
    font-family: sans-serif;
    background-color: rgb(195, 230, 241);
}

h1 {
    color: rgb(123, 108, 206);
    padding-left: 200px;
    background-color: rgb(240, 235, 255);
}

h2 {
    color: rgb(79, 46, 110);
    background-color: rgb(224, 240, 253);
}
li {
    color: slateblue;
    background-color: rgb(239, 200, 255);
}
p {
    color: rgb(40, 92, 112);
    background-color: rgb(255, 255, 255);
}
ol {
    background-color: rgb(239, 200, 255);
}
